%p
  %b Bookmark this site to keep admin access!
  %b Do not share this link with others.
.card-group
  .card.text-xs-center
    .card-header
      Game State
    .card-block
      %h4.card-title=@state[:title]
      %p.card-text=@state[:description]
      - if !@state[:button_replacement_text].nil?
        %span.label{:class => "label-#{@state[:button_replacement_type]}"}=@state[:button_replacement_text]
      - elsif !@state[:next_state_button_text].nil?
        %a.btn.btn-lg.btn-success{:href => @state[:next_state_button_url]}=@state[:next_state_button_text]
      %p
        - @game.remaining_users.each do |user|
          %span.label{:class => "label-success"}=user.name
        - @game.dead_users.each do |user|
          %span.label{:class => "label-danger"}=user.name
  - if @game.state == :join
    .card.text-xs-center
      .card-header
        Invitation
      .card-block
        %h4.card-title=@game.invitation_only ? "Invitation Only" : "Open"
        %p.card-text
        - if @game.invitation_only
          %form{:action => "/game/#{@game.id}/admin/#{@game.password}/invite", :method => "post"}
            %input.form-control{:name => "user_name", :placeholder => "Player name", :type => "text"}
            %button.btn.btn-lg.btn-block.btn-primary{:type => "submit"} Create Invitation
          %p
            %form{:action => "/game/#{@game.id}/admin/#{@game.password}/invites", :method => "post"}
              %select.c-select.form-control{:name => "amount"}
                - (1..100).each do |num|
                  %option #{num}
              %button.btn.btn-lg.btn-block.btn-primary{:type => "submit"} Create Invitations
          %p
            %ul.text-xs-left
              - @game.invitations.each do |invitation_token, user_name|
                %li
                  -
                  %a{:href => "/game/#{@game.id}/join?invitation_token=#{invitation_token}", :target => "_blank"}= user_name != no_user_name ? "#{user_name}'s Invitation Link" : "Unused Invitation Link"
        - else
          Share this link with your players:
          %p
            %a{:href => "/game/#{@game.id}/join", :target => "_blank"}Share me!
  .card.text-xs-center
    .card-header
      Rules
    .card-block
      %p.card-text=@game.rules
