="ID: #{@game.id}"
- if @game.state == :join
  %p
  %a{:href => "/game/#{@game.id}/join", :target => "_blank"}Join link
%p
="State: #{@game.state}"
%p
="Name: #{@game.name}"
%p
="Rules: #{@game.rules}"
%p
="Password: #{@game.password}"
%p
="#{@game.users.length} Users: #{@game.users.map{|_,user| user.name}.join ', '}"
%p
- if @game.state == :running
  ="#{@game.remaining_users.length} Remaining players: #{@game.remaining_users.map{|_| _.name}.join ', '}"
- elsif @game.state == :over
  ="Winner: #{@game.winner.name}"
- elsif @game.users.length < 2
  2 or more users needed!
- else
  %a.btn.btn-primary.center-block{:href => "/game/#{@game.id}/admin/#{@game.password}/start"} Start Game
