.card-group
  .card.text-xs-center
    .card-header
      Your Status
    .card-block
      - if @game.state == :join
        %h4.card-title="Waiting"
        %p.card-text The Game has not started yet.
      - elsif @game.state == :running
        %h4.card-title= @user.is_alive? ? "Alive" : "Dead"
        %p.card-text
          - if @user.is_alive?
            ="If you get killed, you have to say your kill pin: "
            %b=@user.kill_pin
          - else
            %b=@user.killer.name
            =" got ya."
      - elsif @game.state == :over
        %h4.card-title= @user.is_alive? ? "You are the winner!" : "You lost."
  -if @game.state == :running && @user.is_alive?
    .card.text-xs-center
      .card-header
        Your Target
      .card-block
        %h4.card-title=@user.target.name
        %p
          %form{:action => "/game/#{@game.id}/user/#{@user.id}/kill_target", :method => "post"}
            .form-group{:class => "#{'has-danger' unless params[:error].nil?}"}
              %input.form-control{:name => "target_kill_pin", :placeholder => params[:error].nil? ? "#{@user.target.name}'s kill pin" : params[:error], :type => "text"}
            %button.btn.btn-lg.btn-block.btn-danger{:type => "submit"} Kill
    .card.text-xs-center
      .card-header
        Rules
      .card-block
        %p.card-text=@game.rules
